/**修改grid和panel标题字体大小;修改grid和panel的字体居上方高度;修改grid和panel的标题栏高度*/
.l-panel-header{font-size: 15px !important;padding-top:3px !important; height:25px !important;}
/**修改grid标题前面留白*/
.l-panel-header-text{ padding-left:0px !important;}
/**修改grid按钮靠左对齐*/
.l-panel-topbarinner-left{ float: left !important;}

/**修改grid按钮样式*/
.l-panel-btn{
	height: 24px !important;
	line-height: 24px !important;
	width: 75px !important;
	cursor: pointer;
	overflow: hidden;
	position: relative;  
	text-align:center;
	border: solid 0px #A3C0E8;
	color:#FFFFFF !important;
	background:#E0EDFF url(../images/buttonimages/button.gif) left 0;
}

.l-panel-btn-over{
	color:#2C4D79 !important;
}
.l-toolbar-item{

}
.l-toolbar-item-hasicon{
	padding-left: 0px  !important;
	padding-right: 0px  !important;
	margin-top: 1px !important;
}
.l-icon{
	display: none !important;
}