@charset "utf-8";
/* CSS Document */
.btnArea{
	height:25px;
	padding:5px;
	background-color:#E0EDFF;
}
.btn {
	padding: 2px 6px;
}

.btn_l {
	padding: 0px 6px;
}

.btn,.btn_l {
	color: #FFF;
	border-radius: 3px;
	border: 1px #388bd7 solid;
	background: #57a5ed;
	background: url(../images/btn.jpg);
	border: none;
	width: 75px;
	height: 24px;
	line-height: 20px;
}

.btn:hover,.btn_l:hover {

	color: #666;
}

.btn:active,.btn_l:active {
	position: relative;
	top: 1px;
}

.txt {
	border-radius: 3px;
	height: 19px;
	border: 1px #c8d1e2 solid;
}

.txt:hover {
	box-shadow: 0 0 .1em rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 .1em rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 .1em rgba(0, 0, 0, 0.4);
}
.iframe-style{
width:100%;
min-height:705px;
}
