<?xml version="1.0" encoding="UTF-8"?>
<!-- 引入约束 -->  
<beans xmlns="http://www.springframework.org/schema/beans"  
       xmlns:p="http://www.springframework.org/schema/p"  
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context" 
        xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="  
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-4.0.xsd  
http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

<import resource="data-source.xml"/>
<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="mappingResources">
        <list>
            <!-- 告警 -->
            <value>com/dhcc/bussiness/sxydidc/alarm/resources/AlarmRuleValueType.hbm.xml</value>
                        <value>com/dhcc/bussiness/sxydidc/alarm/resources/AlarmInfo.hbm.xml</value>
                        <value>com/dhcc/bussiness/sxydidc/alarm/resources/AlarmNoticeType.hbm.xml</value>
                        <value>com/dhcc/bussiness/sxydidc/alarm/resources/Tsuser.hbm.xml</value>
                        <value>com/dhcc/bussiness/sxydidc/alarm/resources/AlarmRule.hbm.xml</value>
                        <value>com/dhcc/bussiness/sxydidc/alarm/resources/AlarmSeverity.hbm.xml</value>
                        <value>com/dhcc/bussiness/sxydidc/alarm/resources/AlarmIndicator.hbm.xml</value>
                        
       
        <!-- 客户模板 -->
        <value>com/dhcc/bussiness/sxydidc/customer95/resources/Product.hbm.xml</value>
                        <value>com/dhcc/bussiness/sxydidc/customer95/resources/Contract.hbm.xml</value>
                        <value>com/dhcc/bussiness/sxydidc/customer95/resources/ProductIp.hbm.xml</value>
                        <value>com/dhcc/bussiness/sxydidc/customer95/resources/Customer.hbm.xml</value>
       
	<!-- 端口、采集点数据 -->
   		 <value>com/dhcc/bussiness/sxydidc/quality/resources/Portips.hbm.xml</value>
                        <value>com/dhcc/bussiness/sxydidc/quality/resources/TopoHostNode.hbm.xml</value>
                        <value>com/dhcc/bussiness/sxydidc/quality/resources/TopoInterface.hbm.xml</value>
  
  		<!-- 原生SQL执行需要映射的实体类 -->
  		<!-- 
  		 <mapping resource="com/dhcc/bussiness/sxydidc/customer95/resources/CustomerSummary.hbm.xml" />
    	<mapping resource="com/dhcc/bussiness/sxydidc/alarm/resources/AlarmStatistic.hbm.xml" />
    	-->
    	
    	<!-- 流量账单 -->
    	<value>com/dhcc/flow/report/resources/FlowAccount.hbm.xml</value>                      
    	
    	<!--客户配置 -->
    	<value>com/dhcc/bussiness/sxydidc/customer95/config/resources/DeviceInterface.hbm.xml</value>
                        <value>com/dhcc/bussiness/sxydidc/customer95/config/resources/InterfaceDetail.hbm.xml</value>

    
        </list>
    </property>
    <property name="hibernateProperties">
    	<props>
    		<!-- <prop key="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</prop>
    		 <prop key="hibernate.connection.password">95idc</prop>
        <prop key="hibernate.connection.url">jdbc:oracle:thin:@192.168.18.156:1521:orcl</prop>
        <prop key="hibernate.connection.username">95idc</prop> -->
        <prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
        <prop key="hibernate.show_sql">true</prop>
        <prop key="hibernate.validator.apply_to_ddl">false</prop>
        </props>
       
    </property>
</bean>
    
<bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory"/>
</bean>

<!-- 开启事务控制的注解支持 -->  
    <tx:annotation-driven transaction-manager="txManager"/>
</beans>   