<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.password">95idc</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@192.168.1.156:1521:orcl</property>
        <property name="hibernate.connection.username">95idc</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <!-- 告警 -->
        <mapping resource="com/dhcc/bussiness/sxydidc/alarm/resources/AlarmRuleValueType.hbm.xml" />
        <mapping resource="com/dhcc/bussiness/sxydidc/alarm/resources/AlarmInfo.hbm.xml" />
        <mapping resource="com/dhcc/bussiness/sxydidc/alarm/resources/AlarmNoticeType.hbm.xml" />
        <mapping resource="com/dhcc/bussiness/sxydidc/alarm/resources/Tsuser.hbm.xml" />
        <mapping resource="com/dhcc/bussiness/sxydidc/alarm/resources/AlarmRule.hbm.xml" />
        <mapping resource="com/dhcc/bussiness/sxydidc/alarm/resources/AlarmSeverity.hbm.xml" />
        <mapping resource="com/dhcc/bussiness/sxydidc/alarm/resources/AlarmIndicator.hbm.xml" />
        
        <!-- 客户模板 -->
        <mapping resource="com/dhcc/bussiness/sxydidc/customer95/resources/Product.hbm.xml" />
        <mapping resource="com/dhcc/bussiness/sxydidc/customer95/resources/Contract.hbm.xml" />
        <mapping resource="com/dhcc/bussiness/sxydidc/customer95/resources/ProductIp.hbm.xml" />
        <mapping resource="com/dhcc/bussiness/sxydidc/customer95/resources/Customer.hbm.xml" />
   		
   		<!-- 端口、采集点数据 -->
   		<mapping resource="com/dhcc/bussiness/sxydidc/quality/resources/Portips.hbm.xml" />
        <mapping resource="com/dhcc/bussiness/sxydidc/quality/resources/TopoHostNode.hbm.xml" />
        <mapping resource="com/dhcc/bussiness/sxydidc/quality/resources/TopoInterface.hbm.xml" />
  		
  		<!-- 原生SQL执行需要映射的实体类 -->
  		<!-- 
  		 <mapping resource="com/dhcc/bussiness/sxydidc/customer95/resources/CustomerSummary.hbm.xml" />
    	<mapping resource="com/dhcc/bussiness/sxydidc/alarm/resources/AlarmStatistic.hbm.xml" />
    	-->
    	
    	<!-- 流量账单 -->
    	<mapping resource="com/dhcc/flow/report/resources/FlowAccount.hbm.xml" />
    </session-factory>
</hibernate-configuration>
